
<form [formGroup]="postSkillForm" class="w-100" (ngSubmit)="handleSubmit()">
  <h1>Cargar una habilidad</h1>

  <app-skills-dropdown
    [omittedOptions]="omittedOptions"
    [control]="postSkillForm.controls.name"
    [isMultiple]="false"
  >
  </app-skills-dropdown>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Descripción</mat-label>
    <textarea
      #descriptionInput
      matInput
      formControlName="description"
      placeholder="Agrega detalles sobre tus capacidades con la habilidad que elegiste."
      maxlength="100"
      rows="3"
    ></textarea>
    <mat-hint align="end">
      {{ descriptionInput.value.length || 0 }}/100
    </mat-hint>
  </mat-form-field>

  <div class="text-center w-100 mt-4">
    <button
      mat-stroked-button
      type="button"
      (click)="handleCancel()"
    >
      Cancelar
    </button>

    <button
      mat-flat-button
      class="ms-2"
      color="primary"
      [disabled]="!this.postSkillForm.valid"
    >
      Cargar
    </button>
  </div>
</form>

<app-fixed-spinner
  *ngIf="isLoading"
  [hasOverlay]="true"
>
</app-fixed-spinner>
