<div class="container center-content-x">
    <div class="center-content">
      
        
      <div class="forms-body-container">
        <app-profile-update-form #profileUpdateForm ></app-profile-update-form>
      </div>
    </div>
    <div class="bb-signup-footer">
      <button mat-raised-button
        matStepperPrevious
        class="bb-previous-button"
        color="primary" routerLink="/">RETURN
      </button>
      
      <button mat-raised-button
        matStepperNext
        class="bb-next-button"
        color="primary"
        (click)="pullFormData()">UPDATE NOW
      </button>
     
      <p class="bb-signup-subtitle">
        Do you want to return to the home page?
      </p>
    </div>
  </div>