<form [formGroup]="profileUpdateForm" class="w-100" (ngSubmit)="handleSubmit()">
  <h2>Actualizar usuario</h2>

  <!--Name-->
  <mat-form-field appearance="outline" class="w-100">
    <mat-icon matPrefix>person</mat-icon>
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Nombre" formControlName="name" maxLength="30">
    <mat-error>Por favor ingrese su nombre</mat-error>
  </mat-form-field>

  <!--Surname-->
  <mat-form-field appearance="outline" class="w-100">
    <mat-icon matPrefix>person</mat-icon>
    <mat-label>Apellido</mat-label>
    <input matInput placeholder="Apellido" formControlName="surname" maxLength="30">
    <mat-error>Por favor ingrese su apellido</mat-error>
  </mat-form-field>

  <!--Email-->
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Correo Electrónico" formControlName="email" maxLength="50">
    <mat-icon matPrefix>mail</mat-icon>
    <mat-error>Por favor ingrese un correo válido</mat-error>
  </mat-form-field>

  <!--Phone-->
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Celular</mat-label>
    <input type="tel" matInput placeholder="Celular" formControlName="phone" maxLength="9">
    <mat-icon matPrefix>phone</mat-icon>
    <mat-error>Por favor ingrese un número de Celular válido</mat-error>
  </mat-form-field>

  <!--idPicture upload an picture of Identification Card-->
  <!-- <button
    class="w-100"
    mat-raised-button
    type="button"
    (click)="ciInput.click()"
    [color]="ciUploaded ? 'primary' : ''"
  >
    <span>
      Fóto de DNI
      <mat-icon
        *ngIf="ciUploaded"
        class="align-middle"
      >
        check
      </mat-icon>
    </span>
  </button>
  <input hidden (change)="ciUploaded = true" #ciInput type="file"/> -->

  <!--Map-->
  <app-map
      class="location-map mt-3"
      [position]="runningUser.address"
      [enableSearch]="true"
      [queryLocationOnClick]="true"
      (mapClick)="handleMapClick($event)"
      (mapSearch)="handleMapSearch($event)"
    >
  </app-map>
  <div class="text-center w-100 mt-3">
    <button
      mat-stroked-button
      class=""
      type="button"
      (click)="handleCancel()"
    >
      Cancelar
    </button>

    <button
      mat-flat-button
      class="ms-3"
      color="primary"
    >
      Guardar
    </button>

  </div>
</form>
