<mat-card>
  <mat-card-header>
    <mat-card-title>Ingresar</mat-card-title>
  </mat-card-header>
  <form [formGroup]="loginForm">
    
    <!--idPicture upload an picture of Identification Card-->
    <mat-form-field appearance="outline">
      <mat-label>Cédula de Identidad</mat-label>
      <input matInput placeholder="Cédula de Identidad sin puntos ni guion" [formControl]="loginForm.controls.ci" maxLength="8">
      <mat-icon matPrefix>perm_identity</mat-icon>
      <mat-error>Por favor ingrese su Cédula de Identidad sin puntos ni guion</mat-error>
    </mat-form-field>
    
    <!--HashPassword-->
    <mat-form-field appearance="outline">
      <mat-icon matPrefix >lock</mat-icon>
      <mat-label>Contraseña</mat-label>
      <input matInput
      [type]="passwordInputType"
      [formControl]="loginForm.controls.hashPassword" maxLength="20">
      <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
        <mat-icon color="{{passwordIconColor}}">{{passwordIconName}}</mat-icon>
      </button>
      <mat-error>Por favor ingrese su contraseña</mat-error>
    </mat-form-field>
    
  </form>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>