<mat-list class="d-flex flex-column">
  <button
    mat-button
    (click)="navHome()"
  >
    <mat-list-item
      class="text-light"
    >
      <mat-icon class="me-3 align-middle">
        home
      </mat-icon>

      Home
    </mat-list-item>
  </button>

  <button
    mat-button
    (click)="navSearch()"
  >
    <mat-list-item
      class="text-light"
    >
      <mat-icon class="me-3 align-middle">
        search
      </mat-icon>

      Buscar
    </mat-list-item>
  </button>

  <button
    mat-button
    (click)="navCreateNecessity()"
  >
    <mat-list-item
      class="text-light"
    >
      <mat-icon class="me-3 align-middle">
        add
      </mat-icon>

      Crear Necesidad
    </mat-list-item>
  </button>

  <button
    mat-button
    (click)="navCreateSkill()"
  >
    <mat-list-item
      class="text-light"
    >
      <mat-icon class="me-3 align-middle">
        add
      </mat-icon>

      Crear Habilidad
    </mat-list-item>
  </button>

  <button
    mat-button
    (click)="logout()"
  >
    <mat-list-item
      class="text-light"
    >
      <mat-icon class="me-3 align-middle">
        logout
      </mat-icon>

      Cerrar Sesión
    </mat-list-item>
  </button>
</mat-list>
