<div class="container center-content-x">
  <!-- <h2 class="bb-signup-title">LogIn</h2> -->
  <div class="center-content">
    <div class="forms-body-container">
      <app-login-forms #loginForm></app-login-forms>
    </div>
  </div>
  <div class="bb-signup-footer">
  
    <button
      mat-raised-button
      matStepperPrevious
      class="bb-previous-button"
      color="primary"
    >
      BACK
    </button>

    <button
      mat-raised-button
      matStepperNext
      class="bb-next-button"
      color="primary"
      (click)="pullFormData()"
    >
      LOGIN
    </button>

    <p class="bb-signup-subtitle">
      Do you want to return to the home page?
      <a routerLink="/home">Return Home Page</a>
    </p>
  </div>
</div>
