.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.title {
  display: flex;
  text-align: center;
  width: 40vh;
  height: 40vh;
}
.goLeft {
  margin-left: 2rem;
}
.goRight {
  margin-right: 2rem;
}
.downTraslator {
  
  padding-top: 3rem;
}

mat-card {
  width: 50em;
  //height: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}





