<div class="container">
  
  <mat-card >
    <img class="title" src={{urlLogo}} alt="Logo Sistema">

    <mat-grid-list cols="2">
      <img class="goRigth"
        src="https://github.com/santiagodeolivera/UCU-1-2023-BD-Obligatorio/assets/88668277/4a54a0c4-c2fb-4053-b877-8cc0627d6702"
        [routerLink]="['/login']"
      />

      <img
        class="downTraslator goLeft"
        src="https://github.com/santiagodeolivera/UCU-1-2023-BD-Obligatorio/assets/88668277/b6056454-f64d-472c-972e-5436779caa48"
      />
    </mat-grid-list >
    <mat-grid-list cols="2" class="goUpTranslator">
      <img  class="goRigth"
        src="https://github.com/santiagodeolivera/UCU-1-2023-BD-Obligatorio/assets/88668277/9ec63ac5-257a-40ba-b198-e31f5d46db96"
      />

      <img 
        class="downTraslator goLeft"
        src="https://github.com/santiagodeolivera/UCU-1-2023-BD-Obligatorio/assets/88668277/1b1f2553-8af5-4aeb-9f28-d0da178b143f"
      />
    </mat-grid-list>
  </mat-card>
</div>
