<div class="container mt-3">
  <h1>¡Bienvenido {{runningUser.firstName}}!</h1>

  <div class="mt-4">
    <h2>Tus Postulaciones</h2>
    <app-postulation-carousel
      *ngIf="userPostulations"
      [postulations]="userPostulations"
      [perspective]="'user'"
    >
    </app-postulation-carousel>
    <h3 *ngIf="!userPostulations">
      Aún no te has postulado a ninguna solicitud de ayuda.
    </h3>
  </div>

  <div class="mt-4 mb-2">
    <h2>Tus Necesidades</h2>
    <app-necessity-carousel
      *ngIf="userNecessities"
      [necessities]="userNecessities"
    >
    </app-necessity-carousel>
    <h3 *ngIf="!userNecessities">
      Aún no has creado ninguna solicitud de ayuda.
    </h3>
  </div>
</div>
