<div class="mt-4">
  <h1 class="mt-4">{{ user.firstName}} {{user.lastName}}</h1>

  <p class="mt-4">
    <mat-icon class="align-middle"> mail </mat-icon>
    <a class="ms-2 align-bottom user-field"
      href="mailto:{{user.email}}"
    >{{ user.email }}</a>
  </p>
  <p *ngFor="let phone of user.phoneNumbers || []"
    class="mt-4">
    <mat-icon class="align-middle"> phone </mat-icon>
    <a class="ms-2 align-bottom user-field"
      href="tel:{{phone}}"
    >{{ phone }}</a>
  </p>

  <!-- user skills -->
  <div class="mt-4">
    <h2 class="mt-4">Habilidades</h2>
    <app-skill-chip-list
      *ngIf="user.skills && user.skills.length > 0"
      [enableSkillModal]="true"
      [skills]="user.skills"
    >
    </app-skill-chip-list>
    <p *ngIf="!user.skills || user.skills.length === 0">
      Todavía no hay habilidades para este usuario.
    </p>
  </div>

  <!-- user necessities -->
  <div class="mt-4">
    <h2 class="mt-4">Solicitudes de Ayuda</h2>
    <app-necessity-carousel
      *ngIf="userNecessities && userNecessities.length > 0"
      [necessities]="userNecessities"
    >
    </app-necessity-carousel>
    <p *ngIf="!userNecessities || userNecessities.length === 0">
      Todavía no hay solicitudes de ayuda para este usuario.
    </p>
  </div>

  <!-- ir a actualizar perfil -->
  <div class="w-100 text-center mt-4 mb-3">
    <button
      mat-flat-button
      *ngIf="enableEdit"
      color="primary"
      routerLink="/profile-update"
    >
      Editar
    </button>
  </div>
</div>
