<div class="mt-4">
  <h1 class="mt-4">Bienvenido {{ runningUser.firstName}} {{runningUser.lastName}}</h1>
  <!-- user email -->
  <p class="user-field mt-4">
    <mat-icon class="align-middle"> mail </mat-icon>
    <span class="ms-2 align-bottom">{{ runningUser.email }}</span>
  </p>
  
  <!-- user phone from user.phoneNumbers -->
  <div class="mt-4">
    <h2 class="mt-4">Teléfono</h2>
    <div class="mt-4">
      <mat-chip-list>
        <mat-chip *ngFor="let phone of runningUser.phoneNumbers" color="primary" selected="true">
          0{{ phone }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  

  <!-- user skills -->
  <div class="mt-4">
    <h2 class="mt-4">Habilidades</h2>
    <div class="mt-4" *ngFor="let skill of runningUser.skills">
      <mat-chip-list>
        <mat-chip  color="primary" selected="true">
          {{ skill.name }}
        </mat-chip>
        <span>{{skill.description}}</span>
      </mat-chip-list>
    </div>
  </div>

  <!-- user necessities -->
  <div class="mt-4">
    <h2 class="mt-4">Necesidades</h2>
    <div class="mt-4" *ngFor="let necessity of userNecessities">
      <mat-chip-list>
        <mat-chip  color="primary" selected="true">
          {{ necessity.title }}
        </mat-chip>
        
      </mat-chip-list>
    </div>
  </div>

  <!-- ir a actualizar perfil -->
  <button
      mat-flat-button
      class="ms-3"
      color="primary"
      routerLink="/profile-update"
    >
      Actualizar Perfil
    </button>
  


</div>
