<div class="main-div">
    <mat-card class="main-card">
        <mat-card-title>Login</mat-card-title>
        <mat-divider></mat-divider>
        <form class="form">
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput>
                </mat-form-field>
            </mat-card-content>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput>
                </mat-form-field>
            </mat-card-content>
            <mat-card-content>
                <button mat-raised-button color="primary">Ingresar</button>
            </mat-card-content>
        </form>
    </mat-card>
</div>