<div class="container">
    <div class="row">
        <h1>Login</h1>
    </div>
    <mat-divider></mat-divider>
    <form class="form">
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button mat-raised-button color="primary" type="submit">Ingresar</button>
            </div>
        </div>
    </form>
</div>