<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  class="example-icon"
  aria-label="Example icon-button with menu icon"
>
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <div *ngIf="!isLogin">
    <!-- Se generan las opciones Home, Ingresar, Registrarse, Sobre el proyecto -->
    <button mat-menu-item (click)="navHome()">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item (click)="navLogin()">
      <mat-icon>login</mat-icon>
      <span>Ingresar</span>
    </button>
    <button mat-menu-item (click)="navSignup()">
      <mat-icon>person_add</mat-icon>
      <span>Registrarse</span>
    </button>
    <button mat-menu-item (click)="navAbout()">
      <mat-icon>info</mat-icon>
      <span>Sobre el proyecto</span>
    </button>
    
  </div>
  <div *ngIf="isLogin">
    <!-- Se generan las opciones Home, Salir, Crear Necesidad, Crear habilidad, Actualizar Perfil, Sobre el proyecto -->
    <button mat-menu-item (click)="navHome()">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item (click)="navLogout()">
      <mat-icon>logout</mat-icon>
      <span>Salir</span>
    </button>
    <button mat-menu-item (click)="navCreateNecessity()">
      <mat-icon>add</mat-icon>
      <span>Crear Necesidad</span>
    </button>
    <button mat-menu-item (click)="navCreateSkill()">
      <mat-icon>add</mat-icon>
      <span>Crear Habilidad</span>
    </button>
    <button mat-menu-item (click)="navUpdateProfile()">
      <mat-icon>update</mat-icon>
      <span>Actualizar Perfil</span>
    </button>
    <button mat-menu-item (click)="navAbout()">
      <mat-icon>info</mat-icon>
      <span>Sobre el proyecto</span>
    </button>


  </div>
</mat-menu>
