<div class="w-100 h-100 position-relative">
  <mat-spinner
    *ngIf="isLoading"
    class="spinner"
  >
  </mat-spinner>

  <app-map-search-box
    *ngIf="enableSearch"
    class="search-box"
    [searchBoxValue]="locationString"
    (searchBoxInit)="setSearchBox($event)"
    (placesChange)="handlePlacesChange($event)"
  >
  </app-map-search-box>

  <google-map
    *ngIf="!isLoading"
    height="100%"
    width="100%"
    [options]="mapConfigurations"
    [center]="initialCoordinates || { lat: 0, lng: 0 }"
    [zoom]="13"
    (mapClick)="handleMapClick($event)"
  >
    <map-marker
      #focusOnMarker
      *ngIf="focusedPosition"
      [position]="focusedPosition"
    >
    </map-marker>
  </google-map>
</div>
