<app-fixed-spinner
  *ngIf="isLoading"
>
</app-fixed-spinner>

<div
  *ngIf="necessity && !isLoading"
  class="container"
>
  <app-necessity-fields
    [necessity]="necessity"
    [userPostulation]="userPostulation"
  >
  </app-necessity-fields>

  <div
    class="mt-3"
  >
    <mat-expansion-panel *ngIf="isByRunningUser">
      <mat-expansion-panel-header>
        <mat-panel-title>Postulaciones</mat-panel-title>
      </mat-expansion-panel-header>
      <app-necessity-postulation-list
        [necessity]="necessity"
        [isRunningUserNecessity]="isByRunningUser"
      >
      </app-necessity-postulation-list>
    </mat-expansion-panel>
    <app-postulation-list
      *ngIf="!isByRunningUser && userPostulation"
      [isRunningUserNecessity]="isByRunningUser"
      [postulations]="[ userPostulation ]"
      (postulationUpdate)="userPostulation = undefined"
    >
    </app-postulation-list>
  </div>

  <div
    class="w-100 mt-4 text-center"
  >
    <app-necessity-detail-actions
      *ngIf="!userPostulation"
      [necessity]="necessity"
      (newPostulation)="handleNewPostulation($event)"
      (startEdit)="navigateToEdit()"
      (delete)="deleteNecessity()"
      (solve)="solveNecessity()"
    >
    </app-necessity-detail-actions>
  </div>
