<div class="container center-content-x">
  <div class="center-content">
    
      
    <div class="forms-body-container">
      <app-signup-forms #signUpForm ></app-signup-forms>
    </div>
  </div>
  <div class="bb-signup-footer">
    <button mat-raised-button
      matStepperPrevious
      class="bb-previous-button"
      color="ancents" routerLink="/"
       >RETURN
    </button>
    
    <button mat-raised-button
      matStepperNext
      class="bb-next-button"
      color="primary"
      (click)="pullFormData()">CREATE ACCOUNT
    </button>
   
    <p class="bb-signup-subtitle">
      Already have an account?
      <a routerLink="/login">Sign in</a>
    </p>
  </div>
</div>

