<div class="container center-content-x">
  <div class="center-content">
    
      
    <div class="forms-body-container">
      <app-signup-forms #signUpForm ></app-signup-forms>
    </div>
  </div>
  <div class="bb-signup-footer">
    <button mat-raised-button
      matStepperPrevious
      class="bb-previous-button"
      color="warn">REGRESAR
    </button>
    
    <button mat-raised-button
      matStepperNext
      class="bb-next-button"
      color="primary"
      (click)="handleSubmit()">CREAR CUENTA
    </button>
   
    <p class="bb-signup-subtitle">
      Ya tengo una cuenta.
      <a routerLink="/login">Ingresar</a>
    </p>
  </div>
</div>

