<div class="mt-4">
  <h1 class="mt-4">
    {{necessity.title}}
  </h1>

  <p class="necessity-field mt-4">
    <mat-icon class="align-middle">
      calendar_month
    </mat-icon>
    <span class="ms-2 align-bottom">{{dateString}}</span>
  </p>

  <p class="necessity-field mt-4">
    <mat-icon class="align-middle">
      rule
    </mat-icon>
    <span class="ms-2 align-bottom">{{necessity.status}}</span>
  </p>

  <p
    class="necessity-field mt-4"
  >
    <mat-icon class="align-middle">
      location_on
    </mat-icon>
    <span class="ms-2 align-bottom">{{locationString}}</span>
  </p>

  <div *ngIf="hasApprovedPostulation"
      class="mt-4 necessity-field">
    <p>
      <mat-icon class="align-middle"> mail </mat-icon>
      <a class="ms-2 align-bottom user-field"
        href="mailto:{{necessity.user!.email}}"
      >{{ necessity.user!.email }}</a>
    </p>
    <p *ngFor="let phone of necessity.user?.phoneNumbers || []"
      class="mt-4">
      <mat-icon class="align-middle"> phone </mat-icon>
      <a class="ms-2 align-bottom user-field"
        href="tel:{{phone}}"
      >{{ phone }}</a>
    </p>
  </div>

  <h2 class="mt-4">
    Habilidades Requeridas
  </h2>

  <app-skill-chip-list
    *ngIf="necessity.skills"
    [skills]="necessity.skills"
  >
  </app-skill-chip-list>
  <p
    class="necessity-description"
    *ngIf="!necessity.skills"
  >
    Aún no hay habilidades requeridas para esta necesidad.
  </p>

  <h2 class="mt-4">
    Descripción
  </h2>
  <p
    class="necessity-description"
    [innerHTML]="necessityDescription">
  </p>
</div>
