<app-fixed-spinner
  *ngIf="isLoading"
  [hasOverlay]="true"
>
</app-fixed-spinner>

<div class="container">
  <app-user-search-form
    (search)="handleSearch($event)"
  >
  </app-user-search-form>

  <mat-divider
    class="m-4"
    *ngIf="searchResults"
  >
  </mat-divider>

  <app-search-result-list
    *ngIf="searchResults"
    [searchResults]="searchResults"
    [enableSkillModal]="true"
  >
  </app-search-result-list>

  <p *ngIf="!searchResults?.length && hasSearched" class="mt-5 text-center">
    No hemos podido encontrar a ningún usuario que cumpla con los filtros.
    <br>
    Intenta modificarlos y realizar la búsqueda nuevamente.
  </p>
</div>

