<mat-card>
  <mat-card-header>
    <mat-card-title>
      <a
        class="necessity-link"
        routerLink="/necessities/{{necessity.id}}"
      >
        {{necessity.title}}
      </a>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p class="necessity-field mt-4">
      <mat-icon class="align-middle">
        calendar_month
      </mat-icon>
      <span class="ms-2 align-bottom">{{dateString}}</span>
    </p>

    <p class="necessity-field mt-4">
      <mat-icon class="align-middle">
        rule
      </mat-icon>
      <span class="ms-2 align-bottom">{{necessity.status}}</span>
    </p>

    <p
      class="necessity-field mt-4"
    >
      <mat-icon class="align-middle">
        location_on
      </mat-icon>
      <span class="ms-2 align-bottom">{{locationString}}</span>
    </p>

    <h2 class="mt-4">
      Habilidades Requeridas
    </h2>
    <app-skill-chip-list

      *ngIf="necessity.skills"
      [skills]="necessity.skills"
    >
    </app-skill-chip-list>

    <p
      class="necessity-description"
      *ngIf="!necessity.skills"
    >
      Aún no hay habilidades requeridas para esta necesidad.
    </p>

    <h2 class="mt-4">
      Descripción
    </h2>
    <p
      class="necessity-description"
      [innerHTML]="necessityDescription">
    </p>
  </mat-card-content>
</mat-card>
